<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com.morecharge">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a8461e0ede101ac29b84c4d654a5e24e" />

        <activity android:name=".release.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".usercenter.MineActivity" />
        <activity android:name=".main.login.LoginActivity" />
        <activity android:name=".main.register.RegisterActivity" />
        <activity android:name=".main.retrieve.RetrievePwActivity" />
        <activity android:name=".main.retrieve.RetrievePwNextActivity" />
        <activity android:name=".receive.main.ReceiveOrderListActivity" />
        <activity android:name=".receive.main.TodayLiushuiActivity" />
        <activity android:name=".receive.main.ScoreActivity" />
        <activity android:name=".receive.main.ReceiveMainActivity" />
        <activity android:name=".receive.main.TodayReceiveOrderActivity" />
        <activity android:name=".receive.main.WaterMelonCreditActivity" />
        <activity android:name=".usercenter.wallet.MyWalletActivity" />
        <activity android:name=".usercenter.wallet.ReChargeActivity" />
        <activity android:name=".usercenter.wallet.ChoosePayMethodActivity" />
        <activity android:name=".usercenter.auth.MyAuthActivity" />
        <activity android:name=".usercenter.auth.IdentityAuthActivity" />
        <activity android:name=".usercenter.auth.LegalPersonAuthActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".release.main.ui.activity.BuySubBillingRuleActivity"></activity>
        <activity android:name=".usercenter.auth.BusinessLicActivity" />
        <activity android:name=".usercenter.setting.SettingActivity" />
        <activity android:name=".usercenter.setting.ChangePhoneActivity" />
        <activity android:name=".usercenter.setting.ChangePwActivity" />
        <activity android:name=".usercenter.setting.ChangePw2Activity" />

        <activity
            android:name=".receive.main.integrate.MyIntegrateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="我的积分" />
        <activity
            android:name=".receive.main.goodsdetail.GoodsMoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="积分商城" />
        <activity
            android:name=".receive.main.address.AddressListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="地址列表" />
        <!--<activity-->
        <!--android:name=".receive.main.scan.ScanActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:label="扫码应用demo" />-->

        <activity
            android:name=".receive.main.goodsdetail.GoodsToPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="去支付 中的商品详情" />
        <activity
            android:name=".receive.main.address.GoodsLacationFromMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="选择地址"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".usercenter.wallet.WaterSubsidiaryActivity" />
        <activity android:name=".usercenter.wallet.BankCardActivity" />
        <activity android:name=".usercenter.ComplainSuggestActivity" />
        <activity android:name=".receive.main.ReceiveOrderDetailActivity" />
        <activity
            android:name=".receive.main.myskills.MySkillsAddActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="技能添加" />
        <!--<activity-->
            <!--android:name=".receive.main.myskills.MySkillsCheckActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:label="技能查看" />-->
        <activity
            android:name=".receive.main.myskills.AddSkillsDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="查看技能详情" />

    </application>

</manifest>